#optionbg {
	width: 100%;
	height: 100%;
    width: auto;
    height: 100%;
    z-index: -2;
}
#optionbg2 {
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	height: 100%;
    z-index: -1;
}
.optionfull {
    position: fixed;
    left: 25px;
    top: 25px;
    user-select: none;
}
#optionbox h1 {
    color: #000;
    text-shadow: 0px 0px 5px #FFF;
}
#optionbox hr {
    border: 1px dashed gray;
}
#optionbox table{
    font-size: 14px;
    text-shadow: 0px 0px 5px #fff;
    color: #000;
}
#optionbox table input,#optionbox table textarea,#optionbox table select,#optionbox table option {
    background-color: transparent;
    font-family: monospace;
    border-left: dotted gray 1px;
    border-top: dotted gray 1px;
    border-right: ridge gray 1px;
    border-bottom: ridge gray 1px;
    color: 000;
    font-size: 14px;
}
#optionbox table input:focus,#optionbox table textarea:focus,#optionbox table select:focus,#optionbox table option:focus {
    background-color: #FFF;
    font-family: monospace;
    border-left: dotted #FE99CC 2px;
    border-top: dotted #FE99CC 2px;
    border-right: ridge #FE99CC 2px;
    border-bottom: ridge #FE99CC 2px;
    color: 000;
}
#submitoption, #wpNyarukoOptBtnBox a {
  color: #ffffff;
  font-size: 14px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 5px #666666;
  -moz-box-shadow: 0px 1px 5px #666666;
  box-shadow: 0px 1px 5px #666666;
  text-shadow: 1px 1px 3px #666666;
  border: dotted #ffe8f2 2px;
  background: linear-gradient(to bottom,#666666 0,gray 100%);
  cursor:pointer;
}
#submitoption:hover, #submitoption:focus, #wpNyarukoOptBtnBox a:hover, #wpNyarukoOptBtnBox a:focus {
    background: #e62097;
}
#wpfooter {
    display: none;
}
#wpNyarukoInfo {
    position:relative;
    font-size: 14px;
    line-height: 50px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    background-color: yellow;
    box-shadow: 0px 0px 5px gray;
    text-align: center;
}